* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url('../src/img/blackboard.jpg');
    background-size: cover;
}

p {
    text-align: center;
    margin: auto auto;
    align-content: center;
    font-size: 7vh;
}


/* Containers */

#wholePage {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
}

#calcContainer {
    height: 70vh;
    width: 50vw;
    margin: auto;
}

.calcScreen {
    width: 50vw;
    height: 20vh;
    background-color: darkgreen;
    margin: 0 auto;
    align-content: center;
}


/* Buttons */

.resetButton {
    width: 50vw;
    height: 10vh;
    background-color: seashell;
    outline: none;
}

.smallButton {
    width: 12.5vw;
    height: 10vh;
    background-color: seashell;
    outline: none;
}

.doubleButton {
    width: 25vw;
    height: 10vh;
    background-color: seashell;
    outline: none;
}


/* CSS for basic experiment calculator, not used for main version */

button {
    width: 15vw;
    height: 10vw;
    font-size: 8vh;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

.displayBox {
    margin: 0 auto;
    align-content: center;
}